<!--# Name : Imtiaz Ahmed-->
<!--# ID : 2013552642-->
<!--# Project : Job Related-->
<!--# Language : Python-->
<!--# Framework : Flask-->
<!--# Database : SQLALCHEMY-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css"/>
</head>
<body>
    <div class="p-3 mb-2 bg-info text-dark"><h1>Welcome to the Login page</h1></div>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
         <div class="input-group input-group-lg">
              <span class="input-group-text" id="inputGroup-sizing-lg">{{ form.username }} {{ form.password }} {{ form.submit }}</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>

    </form>
    <a href="{{url_for('register')}}">Don't have an account? Register now!</a><br>
    <a href="{{url_for('homepage')}}">Homepage</a>
</body>
</html>